#############
## Project specific
#############
config.json


#############
## node.js
#############

node_modules/
npm_debug.log

##############
## node tools for visual studio
##############
bin/
obj/
.ntvs_analysis.dat