{
	"processDistinct": true,
	"github": {
		"branches": [ "master", "F-.*", "feature/.*" ],
		"repositories": [
			{ "url": "hasaki/HookTesting", "branches": ["master"] },
			{ "url": "InfoPlanIT\/.*" }
		]
	},
	"youtrack": {
		"url": "http://youtrack.ngrok.com",
		"user": "AnAdminuser",
		"password": "secret",
		"committerGroups":  [ "All Users"],
		"projects": [
			{ "id": "PRJA" },
			{ "id": "PRJB", "committerGroups":  [ "Internal Devs" ] }
		]
	}
}